<!DOCTYPE HTML>
<html>
	<head>
		<title>上海木忆商务咨询有限公司</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="stylesheet" href="assets/css/swiper.css" />
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</head>
	<body>
		<div class="content">
					<!--language nav-->
			<section id="languagechange">
				<ul>
					<li v-for="lang in languages" :class="lang.className" @click="changeLang(lang.type)" :data-type="lang.type">
						<a href="javascript:;" ><img :src="lang.path" alt=""/></a>
					</li>
					<!--<li class="lang_usa"><a href="javascript:;"><img src="assets/css/images/usa.jpg" alt="" /></a></li>
					<li class="lang_els"><a href="javascript:;"><img src="assets/css/images/russian.jpg" alt="" /></a></li>-->
				</ul>
			</section>
			<section id="logo">
				<div>
					<h1 class="css-companyname-first">{{language}}</h1>	
					<a href="#"><img src="assets/css/images/logo.png"/></a>
					<h1 class="css-companyname-second">{{language}}</h1>					
				</div>			
			</section>
			<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li v-for="lang in language"><a :href="lang.anchor">{{lang.name}}</a></li>
							<!--<li><a href="#one">产品介绍</a></li>
							<li><a href="#two">合作品牌</a></li>
							<li><a href="#three">联系我们</a></li>-->
						</ul>
					</nav>
				</div>
			</section>
	
			<!-- Wrapper -->
			<div id="wrapper">
	
				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h2>Wood from all over the world</h2>
							<p>{{language.info}}</p>
							<ul class="actions">
								<li><a href="#productList" class="button scrolly">{{language.button}}</a></li>
							</ul>
						</div>
					</section>
	
				<!-- One -->
				<section id="productList">
					<section v-for="lang,value,index in language" class="wrapper style2 spotlights">					
						<a href="#" class="image"><img :src="lang.image" alt="" data-position="center center" /></a>
						<div class="content">
							<div class="inner">
								<h2>{{lang.name}}</h2>
								<p>{{lang.info}}</p>
								<ul class="actions">
									<li><a href="javascript:;" class="button" @click="showProductImgList(lang.type)">{{lang.button}}</a></li>
								</ul>
							</div>
						</div>
					</section>
						
				</section>
	
				<!-- Two -->
					<section id="cooperation" class="wrapper style3 fade-up">
	
						<div class="inner">
	
							<h2>{{language.title}}</h2>
	
							<!-- <p></p> -->
	
							<div class="features">
	
								<section v-for="brand in language.brandList">
	
									<img :src="brand.logo" alt="">
	
									<h3>{{brand.name}}</h3>
									<p>{{brand.info}}</p>
	
									<!-- <span class="icon major fa-code">
	
									</span> -->
	
									<!-- <p>名称.</p> -->
	
								</section>
	
	
							</div>
	
							<!-- <ul class="actions">
	
								<li><a href="#" class="button">Learn more</a></li>
	
							</ul> -->
	
						</div>
	
					</section>
					
				<!-- Three -->
						<section id="contactus" class="wrapper style1 fade-up">
	
						<div class="inner">
	
							<h2>{{language.title}}</h2>
	
							<p>{{language.subtitle}}</p>
	
								<section>
	
									<ul class="contact">
	
										<li>
	
											<h3>{{language.addressName}}</h3>
	
											<span>{{language.address.pro}}<br />
	
											{{language.address.city}}<br />
	
											{{language.address.district}}
	
											</span>
	
										</li>
	
										<li>
	
											<h3>{{language.emailName}}</h3>
											<div v-for="email in language.email">
												<span>{{email.name}}</span><a :href="email.href">&nbsp;{{email.value}}</a>
											</div>	
										</li>
	
										<li>
	
											<h3>{{language.phoneName}}</h3>
											<div v-for="phone in language.phone">
												<span>{{phone.name}}</span><a :href="phone.href">&nbsp;{{phone.value}}</a>
											</div>	
										</li>
	
										<!-- <li>
	
											<h3>Social</h3>
	
											<ul class="icons">
	
												<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
	
												<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
	
												<li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
	
												<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
	
												<li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
	
											</ul>
	
										</li> -->
	
									</ul>
	
								</section>
	
							</div>
	
						</div>
	
					</section>
	
			</div>
	
			<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
			<div class="inner">
				<ul class="menu">
					<li>&copy;上海木易国际有限公司</a></li>
				</ul>
			</div>
		</footer>
		
			
		</div>

		<!--mask 轮播图-->
		<div id="mask"  v-show ="showMask">
			<div class="close" @click = "closeMask()">×</div>
			<div class="swiper-container gallery-top">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide" v-for="img in language" >
		            	<img :src="img.image" alt="" />
		            </div>		            
		        </div>
		        <!-- Add Arrows -->
		        <div class="swiper-button-next swiper-button-white"></div>
		        <div class="swiper-button-prev swiper-button-white"></div>
		    </div>
		    <div class="swiper-container gallery-thumbs">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide" v-for="img in language" >
		            	<img :src="img.image" alt="" />
		            </div>		            
		        </div>
		    </div>			
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/swiper.js" type="text/javascript" charset="utf-8"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/vue-action.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>
